
<nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container">
        <%= image_tag "raster_logo3.png", height: 30 %>
        
            
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <%= link_to 'Strona główna', root_path, class: 'btn' %>
                    <%= link_to 'Zamówienia', home_orders_path, class: 'btn' %>
                    <%= link_to 'plastiki', plastics_path, class: 'btn' %>
                    <%= link_to 'test', home_test_path, class: 'btn' %>
                </li>
            </ul>    
        </div>
  </div>
</nav>
