<%= form_with(model: plastic) do |form| %>
  <% if plastic.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(plastic.errors.count, "error") %> prohibited this plastic from being saved:</h2>

      <ul>
        <% plastic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p><%= form.label :name %>
    <%= form.text_field :name %></p>
  </div>

 <div>
    <p><%= form.label :image %>
    <%= form.file_field :image %><br></p>
  </div>


  <div>
    <p><%= form.label :mold1 %>
    <%= form.text_field :mold1 %></p>
  </div>

  <div>
    <p><%= form.label :mold1_cavity %>
    <%= form.number_field :mold1_cavity %></p>
  </div>

  <div>
    <p><%= form.label :mold1_weight %>
    <%= form.text_field :mold1_weight %></p>
  </div>

  <div>
    <p><%= form.label :mold1_speed %>
    <%= form.number_field :mold1_speed %></p>
  </div>

  <div>
    <p><%= form.label :mold2 %>
    <%= form.text_field :mold2 %></p>
  </div>

  <div>
    <p><%= form.label :mold2_cavity %>
    <%= form.number_field :mold2_cavity %></p>
  </div>

  <div>
    <p><%= form.label :mold2_weight %>
    <%= form.text_field :mold2_weight %></p>
  </div>

  <div>
    <p><%= form.label :mold2_speed %>
    <%= form.number_field :mold2_speed %></p>
  </div>

  <div>
    <p><%= form.label :description %>
    <%= form.text_field :description %></p>
  </div>

  <div>
    <%= form.submit %>
  </div>



<% end %>
