<%= form_with(model: plastic) do |form| %>
  <% if plastic.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(plastic.errors.count, "error") %> prohibited this plastic from being saved:</h2>

      <ul>
        <% plastic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>


  <div>
    <%= form.label :mold1, style: "display: block" %>
    <%= form.text_field :mold1 %>
  </div>

  <div>
    <%= form.label :mold1_cavity, style: "display: block" %>
    <%= form.number_field :mold1_cavity %>
  </div>

  <div>
    <%= form.label :mold1_weight, style: "display: block" %>
    <%= form.text_field :mold1_weight %>
  </div>

  <div>
    <%= form.label :mold1_speed, style: "display: block" %>
    <%= form.number_field :mold1_speed %>
  </div>

  <div>
    <%= form.label :mold2, style: "display: block" %>
    <%= form.text_field :mold2 %>
  </div>

  <div>
    <%= form.label :mold2_cavity, style: "display: block" %>
    <%= form.number_field :mold2_cavity %>
  </div>

  <div>
    <%= form.label :mold2_weight, style: "display: block" %>
    <%= form.text_field :mold2_weight %>
  </div>

  <div>
    <%= form.label :mold2_speed, style: "display: block" %>
    <%= form.number_field :mold2_speed %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>



<% end %>
