<div id="<%= dom_id plastic %>">
  <p>
    <strong>Name:</strong>
    <%= plastic.name %>
  </p>

  <% if @plastic.image.attached? %>
    <image src="<%=(url_for(@plastic.image))%>">
  <% end %> 

  <p>
    <strong>Mold1:</strong>
    <%= plastic.mold1 %>
  </p>

  <p>
    <strong>Mold1 cavity:</strong>
    <%= plastic.mold1_cavity %>
  </p>

  <p>
    <strong>Mold1 weight:</strong>
    <%= plastic.mold1_weight %>
  </p>

  <p>
    <strong>Mold1 speed:</strong>
    <%= plastic.mold1_speed %>
  </p>

  <p>
    <strong>Mold2:</strong>
    <%= plastic.mold2 %>
  </p>

  <p>
    <strong>Mold2 cavity:</strong>
    <%= plastic.mold2_cavity %>
  </p>

  <p>
    <strong>Mold2 weight:</strong>
    <%= plastic.mold2_weight %>
  </p>

  <p>
    <strong>Mold2 speed:</strong>
    <%= plastic.mold2_speed %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= plastic.description %>
  </p>

</div>
