<div id="<%= dom_id plastic %>">
  <p>
    <h1><%= plastic.name %></h1>
  </p>

  <div class="card text-center" style="width: 8rem;">
  <p><% if @plastic.image.attached? %>
    <image src="<%=(url_for(@plastic.image))%>">
  <% end %> </p></div>

  <p>
    <strong>Mała forma: </strong>
    <%= plastic.mold1 %>
  </p>

  <p>
    <strong>Ilość gniazg: </strong>
    <%= plastic.mold1_cavity %>
  </p>

  <p>
    <strong>Waga: </strong>
    <%= plastic.mold1_weight %> gram
  </p>

  <p>
    <strong>Ilość na godzinę: </strong>
    <%= plastic.mold1_speed %> szt./godz.
  </p>

  <p>
    <strong>Duza forma: </strong>
    <%= plastic.mold2 %>
  </p>

  <p>
    <strong>Ilość gniazg: </strong>
    <%= plastic.mold2_cavity %>
  </p>

  <p>
    <strong>Waga: </strong>
    <%= plastic.mold2_weight %> gram
  </p>

  <p>
    <strong>Ilość na godzinę: </strong>
    <%= plastic.mold2_speed %> sz.t/godz.
  </p>

  <p>
    <strong>Opis: </strong>
    <%= plastic.description %>
  </p>

</div>
