<p style="color: green"><%= notice %></p>

<h1>Plastiki</h1>
<%= link_to "New plastic", new_plastic_path, class: 'btn btn-primary' %>
<p>
          
      <div id="plastics" class="container">
            <div class="row ">
              <% @plastics.each do |plastic| %>
                <div class="container" style="width: 10rem;">
                  <div class="card text-center">
                    <%= image_tag plastic.image %>
                    
                    <h5 ><%= plastic.name %></h5>
                    <div class="d-grid">
                      <div class="mb-1"><%= link_to "Pokaż", plastic, class: 'btn btn-primary btn-sm' %></div>
                      <div class="mb-1"><%= button_to "Usuń", plastic, method: :delete, class: 'btn btn-danger btn-sm' %></div>
                    </div>

                  </div>
                  <p>  
                </div>
              <% end %>
            </div>
        </div>  
      


        
       